%h1 Контакты

.contact-details
  %address.full-contacts
    = @page.content.html_safe

  .contact-form
    %h3 Свяжитесь с нами
    = render '/messages/form'
  
#ya-maps

:javascript 
  $(function(){ initMap(); });