%h1 Ошибка 500

= image_tag("500.png", size:"238x106", alt: "Медилиайн Сервис", class: "error-image")

%p
  Извините, что-то пошло не так. Попробуйте снова или
  вернитесь чуть позже.
%p
  Если ошибка повторяется, пожалуйста сообщите нам на
  <a href="mailto:support@medilines.ru>support@medilines.ru</a>