// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins"
/* Active Admin CSS */
// Reset Away!
//body.active_admin
//  @include global-reset

// Partials
body.active_admin
  @import "active_admin/typography"
  @import "active_admin/header"
  @import "active_admin/forms"
  @import "active_admin/components/comments"
  @import "active_admin/components/flash_messages"
  @import "active_admin/components/date_picker"
  @import "active_admin/components/popovers"
  @import "active_admin/components/tables"
  @import "active_admin/components/batch_actions"
  @import "active_admin/components/blank_slates"
  @import "active_admin/components/breadcrumbs"
  @import "active_admin/components/dropdown_menu"
  @import "active_admin/components/buttons"
  @import "active_admin/components/grid"
  @import "active_admin/components/links"
  @import "active_admin/components/pagination"
  @import "active_admin/components/panels"
  @import "active_admin/components/columns"
  @import "active_admin/components/scopes"
  @import "active_admin/components/status_tags"
  @import "active_admin/components/table_tools"
  @import "active_admin/pages/dashboard"
  @import "active_admin/pages/logged_out"
  @import "active_admin/structure/footer"
  @import "active_admin/structure/main_structure"
  @import "active_admin/structure/title_bar"

body.active_admin
  @include sans-family
  line-height: 150%
  font-size: 72%
  background: #fff
  margin: 0
  padding: 0
  color: $text-color

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a 
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)

body.active_admin #header
  font-size: 14px

body.active_admin #dashboard
  font-weight: bold

body.active_admin #header
  padding: 9px 20px

body.active_admin #title_bar
  padding: 3px 15px

body.active_admin #active_admin_content
  padding: 0 20px 20px

body.active_admin #footer p
  display: none

body.active_admin .breadcrumb
  margin-bottom: 5px

body.active_admin #title_bar h2
  font-size: 1.6em

body.active_admin #title_bar .action_items a
  padding: 10px 15px 8px

body.active_admin #title_bar #titlebar_left,
body.active_admin #title_bar #titlebar_right
  height: 40px
  padding-top: 1px

body.active_admin .inline-list .fragment
  float: left

body.active_admin form .inline-list fieldset ol > li label
  margin: 0 3px 0 10px
  width: auto

body.active_admin form span.img-url
  border: 1px solid #ddd
  color: #000
  float: left
  font-size: 13px
  font-style: normal
  margin-right: 3px
  padding: 2px 3px

body.active_admin form li.hidden
  padding: 0

body.active_admin form input[type=text],
body.active_admin form input[type=password],
body.active_admin form input[type=email],
body.active_admin form input[type=number],
body.active_admin form input[type=url],
body.active_admin form input[type=tel],
body.active_admin form textarea
  font-size: 13px

body.active_admin .breadcrumb a,
body.active_admin .breadcrumb a:link,
body.active_admin .breadcrumb a:visited,
body.active_admin .breadcrumb a:active
  color: #676f76

body.active_admin #active_admin_content #main_content_wrapper #main_content
  margin-right: 250px

body.active_admin #active_admin_content #sidebar
  margin-left: -230px
  width: 230px

body.active_admin .sidebar_section select
  width: 200px

body.active_admin .sidebar_section input[type=text]
  width: 180px

body.active_admin form.filter_form .filter_form_field.filter_date_range input[type=text]
  font-size: 12px
  width: 77px
  padding: 8px 6px 7px

body.active_admin form input[type=submit],
body.active_admin form.filter_form a.clear_filters_btn
  padding: 5px 12px 4px

body.active_admin table.index_table th
  padding: 5px 10px 3px 10px

body.active_admin table.index_table td
  padding: 8px 8px 6p

body.active_admin form fieldset ol > li label
  width: 120px

body.active_admin form fieldset > ol > li p.inline-hints
  margin-left: 120px

body.active_admin form fieldset > ol > li fieldset ol
  padding-left: 120px

body.active_admin form fieldset > ol > li.inline-list.check_boxes fieldset ol li,
body.active_admin form fieldset > ol > li.inline-list.radio fieldset ol li
  margin: 0

body.active_admin form fieldset > ol > li.inline-list.check_boxes fieldset ol li label,
body.active_admin form fieldset > ol > li.inline-list.radio fieldset ol li label
  float: left
  overflow: hidden
  margin-right: 10px
  width: auto

body.active_admin table.index_table th.price
  min-width: 70px

body.active_admin table.index_table td.price
  padding: 10px 1px 8px 6px

// Dashboard
body.active_admin.admin_dashboard
  .blank_slate_container
    clear: none
    text-align: left
    .blank_slate
      display: block
  #sidebar h3
    margin-top: 0


body.active_admin .with_sidebar .blank_slate_container .blank_slate
  margin-top: 0

body.active_admin .panel.recent-products th
  max-width: 200px
  text-align: left

body.active_admin .cke_chrome
  width: 76% !important
  overflow: hidden