%h1 Контакты

%address.full-contacts
  %h3 Приходите по адресу:
  %p
    Санкт-Петербург, ул. Коллонтай, д. 41
    %br/
    лит. Д, оф. 205
  %h3 Звоните:
  %p.tel (812) 983-49-96
  %p.tel 8 921 375-74-61
  %p.tel 8 905 287-72-47
  %h3 Пишите нам:
  %p.email= mail_to 'info@medilines.ru'
  
#ya-maps

:javascript 
  $(function(){ initMap(); });