%address.address
  %p.address Санкт-Петербург, ул. Коллонтай, д. 41 лит. Д, оф. 205
  %ul.tel
    %li
      %strong (812) 983-49-96,
    %li 8 921 375-74-61,
    %li 8 921 375-74-61,
    %li (812) 587-97-05 - факс

%address.details
  %p © 2011, ООО «Медилайн Сервис»
  %p= link_to 'Контакты', contacts_path